<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Chelsea+Market&family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <div class="Tabla">
            <div class="Titulo">
                <h1>Tabla Microservicios</h1>
            </div>
            <hr>
            <table class="Contenido-Tabla">
                <tr>
                    <th class="Fila1">Nombre</th>
                    <th class="Fila1">Descripcion</th>
                    <th class="Fila1">Fecha</th>
                    <th class="Fila1">Imagen</th>
                    <th class="Fila1">Video</th>
                </tr>
                <tr>
                    <td class="campos">h</td>
                    <td class="campos">h</td>
                    <td class="campos">h</td>
                    <td class="campos">h</td>
                    <td class="campos">h</td>
                </tr>
                <tr>
                    <td class="campos">h</td>
                    <td class="campos">h</td>
                    <td class="campos">h</td>
                    <td class="campos">h</td>
                    <td class="campos">h</td>
                </tr>
                <tr>
                    <td class="campos">h</td>
                    <td class="campos">h</td>
                    <td class="campos">h</td>
                    <td class="campos">h</td>
                    <td class="campos">h</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>